@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pridi:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.center-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.all-ways{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: 820px;
    gap: 20px;
    padding: 0px 10px;
    background-color: #EEEEEE;
    border-radius: 20px;
}
.post{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    height: 800px;
    width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
}
.other{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 600px;
    height: 800px;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    gap: 24px;
}
.alternatives{
    font-size: 24px;
}
.icon{
    width: 50px;
    height: 50px;
}
.alternative{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: fit-content;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 10px;
    border-radius: 10px;
}
.social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 580px;
}
.drop-a-review{
    font-size: 36px;
}
.by-mail{
    font-size: 24px;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100px;
    width: 420px;
    padding: 20px 0px;
    gap: 2px;
}
.input-name{
    height: fit-content;
    width: 380px;
    font-size: 14px;
}
.input-input-name{
    width: 380px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 10px;
}
.reminder-name{
    font-size: 10px;
    color: #fe4b4b;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100px;
    width: 420px;
    padding: 20px 0px;
    gap: 2px;
}
.input-email{
    height: fit-content;
    width: 380px;
    font-size: 14px;
}
.input-input-email{
    width: 380px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 10px;
}
.reminder-email{
    font-size: 10px;
    color: #fe4b4b;
}
.description{
    width: 420px;
    height: 265px;
    gap: 2px;
}
.textarea-description{
    width: 380px;
    height: fit-content;
    font-size: 14px;
    padding: 10px 10px;
}
.textarea-textarea-description{
    width: 380px;
    height: 209px;
    max-width: 380px;
    min-width: 380px;
    max-height: 209px;
    min-height: 100px;
    border-radius: 10px;
    padding: 10px;
}
.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 22px;
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.submit-button:hover{
    background-color: #69ca60;
    scale: 102%;
    cursor: pointer;
    border: none;
}

.mapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 340px;
    gap: 5px;
    margin-top: 220px;

}
.map-title{
    font-size: 20px;
}
.map-url{
    color: blue;
    text-decoration: underline;
}
iframe{
    border-radius: 10px;
}
.map{
    border: 1px solid black;
    border-radius: 10px;
}