@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pridi:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 36px;
    font-weight: 400;
}
ul{
    padding-left: 20px;
    padding-right: 20px;
}
li{
    font-size: 20px;
}
.plan-title{
    display: flex;
    width: 880px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.current-plan-title{
    font-size: 30px;
}

.current-plan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 600px;
    height: 320px;
    background-color: #f1f1f1;
    border-radius: 20px;
    gap: 10px;
}
.info-about-plan{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 640px;
    /* height: 180px; */
    padding: 10px;


}
.body-of-plan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    background-color: #f7f7f7;
    height: 250px;
    width: 560px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 80px;
    padding: auto;
    gap: 10px;
}
.button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.button:hover{
    border: none;
    cursor: pointer;

}
.button:active{
    border: 1px solid;
}
.button:focus{
    border: 1px solid;
}

.cancel-button:hover{
    background-color: #ea3d3d;
}

.change-button:hover{
    background-color: #69ca60;
}


.log-out{
    display: flex;
    width: 90px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
    border-color: #808080;
    border-radius: 6px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 18px;

}
/*  */
/* ПопАпы */
/*  */

.popup-entercard{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.popup-entercard-opened{
    display: flex;
}
.subscribe-close-popup-img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
}
.subscribe-close-popup:hover{
    transform: rotate(90deg);
}
.subscribe-close-popup{
    height: 40px;
    width: 40px;
    background:none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.4s;
}
.overlay-entercard{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}
.entercard{
    display: flex;
    position: relative;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    width: 600px;
    height: 400px;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}
.entercard-p{
    font-size: 26px;
    text-align: center;
    width: 580px;
    height: fit-content;
    position: absolute;
    top: 25px;
    left: 10px;
}
.cardnumber{
    display: flex;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    align-items: start;
    width: 500px;
    height: 89px;
    flex-direction: column;
    padding: 10px;
}
.cardnumber input{
    width: 480px;
    height: 40px;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    border: 1px solid;
    border-radius: 8px;
    font-size: 16px;
}
.exp-cvv{
    width: 500px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}
.expiration{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    width: 235px;
    height: 69px;
}
.expiration p{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    width: fit-content;
    height: max-content;
}
.expiration input{
    width: 235px;
    height: 40px;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    justify-content: start;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    font-size: 16px;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.cvv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    width: 235px;
    height: 69px;
    position: relative;
}
.cvv p{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    width: fit-content;
    height: max-content;
}
.cvv input{
    width: 235px;
    height: 40px;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    justify-content: start;
    align-items: start;
    border: 1px solid;
    border-radius: 8px;
    font-size: 16px;
}
.cvv input:focus{
    border: 1px;
    outline: 1px solid;
}
.expiration input:focus{
    border: 1px;
    outline: 1px solid;
}
.cardnumber input{
    border: 1px;
    outline: 1px solid;
}

.subscribe{
    position: absolute;
    top: 336px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 10px;
    gap: 10px;
    font-size: 22px;
    background-color: none;
    background: none;
    border: 1px solid;
    border-radius: 10px;
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.subscribe:hover{
    cursor: pointer;
    background-color: #69CA60;
    border: none;
}

.info-security{
    position: absolute;
    top: 35px;
    left: 201px;
    width: 28px;
    height: 28px;

}
.infocvv{
    width: 185px;
    height: 55px;
    display: flex;
    padding: 2px 3px;
    position: absolute;
    top: 10px;
    left: 5px;
    border: 1px solid;
    border-radius: 8px;
    background-color: white;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.infocvv p{
    font-size: 11px;
}
.info-security:hover + .infocvv{
    opacity: 1;
    visibility: visible;
}
.info-security img{
    width: 28px;
    height: 28px;
}

.popup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;

}

.popup-cancel{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    

}
.popup-cancel-opened{
    display: flex;
    opacity: 1;
}

.confirmation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    font-size: 25px;
    width: 700px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}
.popup-buttons{
    display: flex;
    gap: 20px;
}
.button-popup-cancel{
    width: 300px;
    height: 100px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 22px;
    background: none;
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.save-sub:hover{
    background-color: #69CA60;
    border: none;
    scale: 102%;
    cursor: pointer;
}

.kill-sub:hover{
    background-color: #ea3d3d;
    border: none;
    scale: 102%;
    cursor: pointer;
}
.cannot-cancel{
    font-size: 13px;
    color: #808080;
    text-align: center;
}

.popup-opened{
    display: flex;
}

.close-popup{
    height: 80px;
    width: 80px;
    background:none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.4s;
}
.close-popup-img{
    height: 80px;
    width: 80px;
    cursor: pointer;
    border: none;
}
.close-popup:hover{
    transform: rotate(90deg);
}
/* Настройка планов в попАпе */
.choice-plan{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    opacity: 1;
    border: 1px solid;
    border-radius: 20px;
    height: 800px;
    width: fit-content;
}
h3{
    font-size: 32px;
    font-weight: 400;
}

.plan{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}
.contact-url{
    height: fit-content;
    width: fit-content;
}
.price{
    font-family: 'Pridi';
    font-size: 28px;
}
.permonth{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Prompt';
    font-size: 20px;
}
.buy-now{
    height: 40px;
    width: 300px;
    border-radius: 8px;
    font-family: 'Prompt';
    font-size: 26px;
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.buy-now:hover{
    border: none;
    background-color: #69CA60;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
li{
    text-align: start;
    font-size: 20px;
    
}
a{
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.info{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 400px;
    width: 380px;
    padding-top: 20px;
    padding-left: 40px;
}
.info-about-plan{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 600px;
    width: 400px;
    gap: 10px;
}
.h1-title{
    display: flex;
    height: fit-content;
    width: fit-content;
}
.pricing{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 43px;
    width: 370px;
    justify-content: center;
    align-items: center;
}
.plan-title{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 380px;
    background-color: #ffffff;
    border-radius: 10px;
}
.plan-title-text{
    height: max-content;
    width: max-content;
    text-align: center;
    font-size: 32px;
    
}
.plans{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.plan{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

label{
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
label:hover{
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer
}
.overlay-slots{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}
.slots-opened{
    display: flex;
}
.slots-div{
    flex-direction: column;
    display: none;
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 437px;
    height: 243px;
    padding: 20px;
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding: 20px;
}
.slots-div.slots-opened {
    display: flex;
}
.slots-p-close{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 397px;
    height: 30px;
}
.slots-p-close p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slots-close{
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.slots-close-img{
    width: 30px;
    height: 30px;
    transition: 550ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.slots-close-img:hover{
    transform: rotate(90deg);
    cursor: pointer;
}
.slots-inputs{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 397px;
    height: 113px;
    gap: 5px;
}
.slots-inputs p{
    font-size: 12px;
    width: 250px;
    height: 18px;
}
.slots-offers{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}
.slots-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    border: 1px solid;
    border-radius: 4px;
}
.slots-offer input{
    display: none;
}
.slots-offer label{
    font-size: 11px;
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slots-input input{
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;

    font-size: 12px;   
    padding: 10px;
}
.slots-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    width: 250px;
    height: 40px;
    font-size: 17px;
}
.slots-button button{
    width: 250px;
    height: 40px;
    font-size: 17px;
    background-color: none;
    background: none;
    outline: none;
    border: none;
}
.buy-button:hover{
    cursor: pointer;
}