{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
        {% block head %} {% endblock %}
    </head>
    <body>
        <header>
            <img class="logo" src="{% static 'home_app/images/Logo.png' %}" alt="Logo">
            
            {% if page == 'home' and user.is_authenticated != True %}
                <div class="account">
                    <div class="account-login url"><a href="{% url 'signin' %}">Sing In</a></div>
                    <div class="account-signup url"><a href="{% url 'signup' %}">Sign Up</a></div>
                </div>
                <div class="contact url"><a class="contact-url" href="{% url 'contact_app' %}">Contacts</a></div>
            {% endif %}

            {% if page == 'home' and user.is_authenticated %}
            <div class="account-login url"><a href="{% url 'createqr_app' %}">Create QR Codes</a></div>
            <div class="account-login url"><a href="{% url 'myqr_app' %}">My QR Codes</a></div>
            <div class="account-login url"><a href="{% url 'managesub_app' %}">Manage Subscription</a></div>
            <div class="contact url"><a class="contact-url" href="{% url 'contact_app' %}">Contacts</a></div>

            <div class="account account-auth">
                <div class="account-username">
                    <a>{{ user.username }}</a>
                    <a class="log-out-button" href="{% url 'logout' %}"><img class="log-out-icon" src="{% static 'home_app/images/log-out.png' %}" alt="log-out.png"> Log out</a>
                </div>
            </div>
            {% endif %}

            {% if page == 'signup'%}
                <div class="account">
                    <div class="account-login url"><a href="{% url 'signin' %}">Sing In</a></div>
                    <div class="account-signup url"><a href="{% url 'signup' %}">Sign Up</a></div>
                </div>
                <div class="home-url url"><a class="home" href="/">Home</a></div>
            
            {% endif %}
            
            {% if page == 'signin'%}

                <div class="account">
                    <div class="account-login url"><a href="{% url 'signin' %}">Sing In</a></div>
                    <div class="account-signup url"><a href="{% url 'signup' %}">Sign Up</a></div>
                </div>
                <div class="home-url url"><a class="home" href="/">Home</a></div>
            
            {% endif %}
            
            {% if page == 'contacts' and user.is_authenticated != True  %}
                <div class="home-url url"><a class="home" href="/">Home</a></div>
                <div class="account">
                    <div class="account-login url"><a href="{% url 'signin' %}">Sing In</a></div>
                    <div class="account-signup url"><a href="{% url 'signup' %}">Sign Up</a></div>
                </div>

            
            {% endif %}

            {% if page == 'contacts' and user.is_authenticated  %}
            <div class="home-url url"><a class="home" href="{% url 'home_app' %}">Home</a></div>
            <div class="account-login url"><a href="{% url 'createqr_app' %}">Create QR Codes</a></div>
            <div class="account-login url"><a href="{% url 'myqr_app' %}">My QR Codes</a></div>
            <div class="account-login url"><a href="{% url 'managesub_app' %}">Manage Subscription</a></div>

            <div class="account account-auth">
                <div class="account-username">
                    <a>{{ user.username }}</a>
                    <a class="log-out-button" href="{% url 'logout' %}"><img class="log-out-icon" src="{% static 'home_app/images/log-out.png' %}" alt="log-out.png"> Log out</a>
                </div>
            </div>
            {% endif %}

            {% if page == 'createqr' and user.is_authenticated %}
            <div class="home-url url"><a class="home" href="/">Home</a></div>
            <div class="account-login url"><a href="{% url 'myqr_app' %}">My QR Codes</a></div>
            <div class="account-login url"><a href="{% url 'managesub_app' %}">Manage Subscription</a></div>
            <div class="contact url"><a class="contact-url" href="{% url 'contact_app' %}">Contacts</a></div>

            <div class="account account-auth">
                <div class="account-username">
                    <a>{{ user.username }}</a>
                    <a class="log-out-button" href="{% url 'logout' %}"><img class="log-out-icon" src="{% static 'home_app/images/log-out.png' %}" alt="log-out.png"> Log out</a>
                </div>
            </div>
            {% endif %}

            {% if page == 'createqr' and user.is_authenticated != True %}

            <div class="home-url url"><a class="home" href="/">Home</a></div>

            <div class="account">
                <div class="account-login url"><a href="{% url 'signin' %}">Sing In</a></div>
                <div class="account-signup url"><a href="{% url 'signup' %}">Sign Up</a></div>
            </div>

            {% endif %}

            {% if page == 'myqr' and user.is_authenticated %}
            <div class="home-url url"><a class="home" href="/">Home</a></div>
            <div class="account-login url"><a href="{% url 'createqr_app' %}">Create QR Codes</a></div>
            <div class="account-login url"><a href="{% url 'managesub_app' %}">Manage Subscription</a></div>
            <div class="contact url"><a class="contact-url" href="{% url 'contact_app' %}">Contacts</a></div>

            <div class="account account-auth">
                <div class="account-username">
                    <a>{{ user.username }}</a>
                    <a class="log-out-button" href="{% url 'logout' %}"><img class="log-out-icon" src="{% static 'home_app/images/log-out.png' %}" alt="log-out.png"> Log out</a>
                </div>
            </div>
            {% endif %}
            
            {% if page == 'myqr' and user.is_authenticated != True %}

            <div class="home-url url"><a class="home" href="/">Home</a></div>

            <div class="account">
                <div class="account-login url"><a href="{% url 'signin' %}">Sing In</a></div>
                <div class="account-signup url"><a href="{% url 'signup' %}">Sign Up</a></div>
            </div>
            {% endif %}

            {% if page == 'managesub' and user.is_authenticated %}
            <div class="home-url url"><a class="home" href="/">Home</a></div>
            <div class="account-login url"><a href="{% url 'createqr_app' %}">Create QR Codes</a></div>
            <div class="account-login url"><a href="{% url 'myqr_app' %}">My QR Codes</a></div>
            <div class="contact url"><a class="contact-url" href="{% url 'contact_app' %}">Contacts</a></div>

            <div class="account account-auth">
                <div class="account-username">
                    <a>{{ user.username }}</a>
                    <a class="log-out-button" href="{% url 'logout' %}"><img class="log-out-icon" src="{% static 'home_app/images/log-out.png' %}" alt="log-out.png"> Log out</a>
                </div>
            </div>
            {% endif %}

            {% if page == 'managesub' and user.is_authenticated != True %}
            <div class="home-url url"><a class="home" href="/">Home</a></div>

            <div class="account">
                <div class="account-login url"><a href="{% url 'signin' %}">Sing In</a></div>
                <div class="account-signup url"><a href="{% url 'signup' %}">Sign Up</a></div>
            </div>
            {% endif %}
        </header>
        {% block body %}

        {% endblock %}
    </body>
</html>