{% extends 'base.html' %}


{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'contact_app/css/contactt.css' %}">
{% endblock %}

{% block title %}

Contact page

{% endblock %}

{% block body %}
<main>
    <div class="all-ways">
        <form class="post" method="post">
            {% csrf_token %}
            <div class="title" >
                <span class="titles">
                    <p class="drop-a-review">
                        Drop a review
                    </p>
                    <p class="by-mail">
                        by mail
                    </p>
                </span>
            </div>
                <div class="name" >
                    <p class="input-name">Name</p>
                    <input class="input-input-name" type="text" name="name">
                    <p class="reminder-name">The name must have at least 1 letters</p>
                </div>
                <div class="email" >
                    <p class="input-email">Email</p>
                    <input class="input-input-email" type="text" name="email">
                    <p class="reminder-email">email must contain @</p>
                </div>
                <div class="description" >
                    <p class="textarea-description">Description</p>
                    <textarea class="textarea-textarea-description" name="description"></textarea>
                </div>
                <button class="submit-button" name="submit-button">Submit</button>
        </form>
        <div class="other">
            <p class="Alternatives">Alternatives</p>
            <div class="social">
                <a href="https://t.me/QRLogic">
                    <div class="telegram alternative" >
                        <img class="telegram-icon icon" src="{% static 'home_app/images/telegram_icon.png' %}" alt="">
                        <p class="telegram-title">QRLogic</p>
                    </div>
                </a>
                <a href="https://discord.gg/WdA95uNNt6">
                    <div class="discord alternative">
                        <img class="discord-icon icon" src="{% static 'home_app/images/discord_icon.png' %}" alt="">
                        <p class="discord-title">QRLogic</p>
                    </div>
                </a>
                <a href="https://www.whatsapp.com/?lang=ru_RU">
                    <div class="discord alternative">
                        <img class="discord-icon icon" src="{% static 'home_app/images/whatsapp_icon.png' %}" alt="">
                        <p class="discord-title">QRLogic</p>
                    </div>
                </a>
                <a href="tel:+380123456789">
                    <div class="discord alternative">
                        <img class="discord-icon icon" src="{% static 'home_app/images/phone_icon.png' %}" alt="">
                        <p class="discord-title">+380123456789</p>
                    </div>
                </a>
            </div>
            <div class="mapper">
                <p class="map-title">We are on <a class="map-title map-url" href="https://google.com/">Google Maps</a></p>
                <div  class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d661.4777326331397!2d35.06823607608083!3d48.45823848295226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2d21b262e8b%3A0x2a3d3cb4f052381a!2z0YPQuy4g0JjQstCw0L3QsCDQkNC60LjQvdGE0LjQtdCy0LAsIDE4LCDQlNC90LXQv9GALCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1736791062899!5m2!1sru!2sua" width="560" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}