{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/createqr.css' %}">
{% endblock %}

{% block title %}

Create QR Code
{% endblock %}
{% block body %}

<main>
    {% if sub_error %}
        <p style="font-size:28px;">{{ sub_error }}</p>
    {% endif %}

    <form class="main-div" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="settings">
            <p class="settings-title">Settings</p>
            <div class="colors">
                <div class="title-colors">
                    <img class="title-color-icon" src="{% static '/images/color-settings.png' %}">
                    <p class="title-color">Color Settings</p>
                </div>
                <div class="divs-colors">
                    <div class="substrate-color">
                        <p class="substrate-color-p">Substrate color</p>
                        <div class="input-color">
                            <input class="input-colored input-substrate" id="light-color" name="light-color" value="#FFFFFF" type="color">
                            <label class="label-input-colored label-substrate" for="light-color"> </label>
                            <p class="input-hex p-substrate">#FFFFFF</p>
                        </div>
                    </div>
                    <div class="primary-color">
                        <p class="primary-color-p" >Primary color</p>
                        <div class="input-color">
                            <input class="input-colored input-primary" name="dark-color" id="dark-color"  value="#000000" type="color">
                            <label class="label-input-colored label-primary" for="dark-color"></label>
                            <p class="input-hex p-primary">#000000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo-setting">
                {% if user.profile.subscription == 'free'%}
                <div class="overlay"><p>Logo customization is available for Standart and Pro users</p></div>
                {% endif %}
                <div class="title-logo" >
                    <img class="title-logo-icon" src="{% static '/images/add-logo-icon.png' %}">
                    <p class="title-logo-p" >Add Logo Image</p>
                </div>
                <div class="logo-buttons">
                    <img class="logo-icon" src="{% static 'images/No-Logo.png' %}" data-no-logo="{% static 'images/No-Logo.png' %}">
                    <div class="buttons">
                        <input class="input-file-upload" type="file" name="upload" id="upload">
                        <label for="upload" class="upload-label">Upload Logo</label>
                        <button class="button-delete-logo button-logo" type="submit">Delete Logo</button>
                    </div>
                </div>
            </div>
            <div class="custom-style">
                <div class="title-custom">
                    <img class="title-custom-icon" src="{% static '/images/custom-style.png' %}">
                    <p class="title-custom-p">Custom Style</p>
                </div>
                {% if user.profile.subscription == 'free' or user.profile.subscription == 'standart' %}
                    <div class="overlay"><p>Shape customization is available for Pro users only</p></div>
                {% endif %}
                <div class="shapes">
                    <div class="any-shape">
                        <p class="shape-title">Square Shape</p>
                        <div class="div-shapes">
                            <input type="radio" class="checkbox-none" name="squares" value="square" id="square-square" checked>
                            <div class="shape">
                                <label for="square-square" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/square-squares.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="squares" value="gapped" id="dots-square">
                            <div class="shape">
                                <label for="dots-square" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/gapped-squares.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="squares" value="circle" id="circle-square">
                            <div class="shape">
                                <label for="circle-square" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/dots-squares.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="squares" value="rounded" id="rounded-square">
                            <div class="shape">
                                <label for="rounded-square" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/rounded-squares.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="squares" value="vertical" id="vertical-square">
                            <div class="shape">
                                <label for="vertical-square" class="label-shape" >
                                    <img class="img-shapes" src="{% static '/images/vertical-bars-squares.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="squares" value="horizontal" id="horizontal">
                            <div class="shape">
                                <label for="horizontal" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/horizontal-bars-squares.png' %}">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="any-shape">
                        <p class="shape-title">Body Shape</p>
                        <div class="div-shapes">

                            <input type="radio" class="checkbox-none" name="body" value="square"  id="square" checked>
                            <div class="shape shapep">
                                <label id="label-squared-body" class="label-shape" for="square">
                                    <img class="img-shapes" src="{% static '/images/square-body.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="body" value="gapped" id="dots">
                            <div class="shape shapep">
                                <label id="label-miniround" class="label-shape" for="dots">
                                    <img class="img-shapes" src="{% static '/images/gapped-body.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="body" value="circle" id="circle">
                            <div class="shape">
                                <label for="circle" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/dots-body.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="body" value="rounded" id="rounded">
                            <div class="shape">
                                <label for="rounded" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/rounded-body.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="body" value="vertical" id="vertical">
                            <div class="shape">
                                <label for="vertical" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/vertical-body.png' %}">
                                </label>
                            </div>

                            <input type="radio" class="checkbox-none" name="body" value="horizontal" id="horizontal-body">
                            <div class="shape">
                                <label for="horizontal-body" class="label-shape">
                                    <img class="img-shapes" src="{% static '/images/horizontal-body.png' %}">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secondary-div">
            <div class="qr-field">
                <div class="qr-code">
                    {% if qrcode %}
                        <img class="qr" src="{{ MEDIA_URL }}{{ qrcode }}">
                    {% else %}
                        <img class="qr" src="{% static '/images/qr-code.png' %}">
                    {% endif %}
                </div>
                <div class="input-range">
                    <p class="sizeqrtitle" >Size Of QR Code</p>
                    <div class="div-input-range" >
                        <input class="sizeqr" max="100" min="1" type="range" value="50" name="sizeqr" id="sizeqr">
                        <label class="sizeqrlabel">50</label>
                    </div>

                </div>
                {% if user.profile.commerce != True %}
                    <div>
                        <input placeholder="example.com" name="url" class="input-url-qr" type="text" required>
                    </div>
                {% else %}
                    <div>
                        <input placeholder="Any text" name="url" class="input-url-qr" type="text" required>
                    </div>
                {% endif %}
                <div>
                    <button class="create-qr-button" type="submit">Create QR</button>
                </div>
                <div>
                    <button class="download-button" type="submit">Download</button>
                </div>
                {% if commerce_sub %}
                <div>
                    <p>{{ commerce_sub }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</main>


<script src="{% static 'js/createqr.js' %}"></script>

{% endblock %}